<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <meta name="viewport" content="
      width=320,
      height=480,
      user-scalable=yes
    "/>

  </head>
  <body style = "margin:0px 0px; padding:0px 0px; text-align:center; ">
    <div style="float:left;width:20%;">
        <a href="fine" target="_blank"><img src="images/mini-fine.png" style="width:100%;"></a>
    </div>
    <div style="float:right;width:20%;">
        <a href="sick" target="_blank"><img src="images/mini-sick.png" style="width:100%;"></a>
    </div>
    <img src="images/mini-center.png" style="width:50%;">
  </body>
</html>
