<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <meta name="viewport" content="
      width=320,
      height=480,
      user-scalable=yes
    "/>

  </head>
  <body style = "padding:0px 40px; text-align:center; ">

    <h1><%= title %> <div style="font-size:33%;">げんきですか？</div></h1>
    <a href="fine"> <img src="images/fine.png"> </a>
    <h3 style="margin-top:0px;">fine<div style="font-size:33%;">げんき</div></h3>
    <a href="sick"> <img src="images/sick.png"> </a>
    <h3 style="margin-top:0px;">sick<div style="font-size:33%;">ねつ,ずつう,めまい,げり,からだいたい,だるい,せき,くしゃみ,<span style="font-size:66%;">など</span></div></h3>
    <br>
    <p><small>
        © 2020 Harumaso. <a href="https://github.com/Harumaso500/Howareyou">view Source</a>
        <a href="./graph">GRAPH</a>
    </small></p>
  </body>
</html>
