<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <meta name="viewport" content="
      width=320,
      height=480,
      user-scalable=yes
    "/>

  </head>
  <body style = "margin: 0px 5px; padding:0px 0px; text-align:center; ">

    <div style="float:left; text-align:center; ">
      <a href="fine" target="_blank"> <img src="images/fine-mini.png"> </a>
      <h5 style="margin: 0px 0px; padding:0px 0px;">fine</h5>
    </div>
    <div style="float:right; text-align:center; ">
      <a href="sick" target="_blank"> <img src="images/sick-mini.png"> </a>
      <h5 style="margin: 0px 0px; padding:0px 0px;">sick</h5>
    </div>
    <h2 style="margin: 0px 0px; padding:0px 0px;"><%= title %> <div style="font-size:70%;">げんきですか？</div></h2>
    <p style="margin: 0px 0px; padding:0px 0px; font-size:50%;"><small><br>© 2020 Harumaso.</small></p>
  </body>
</html>
