<!DOCTYPE html>
<html>
  <head>

    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <meta name="viewport" content="
      width=320,
      height=480,
      user-scalable=yes
    "/>

    <script>
        window.onload = function(){
            document.getElementById('sel001').value = <%- areaID %>;
        }
    </script>

  </head>
  <body style = "padding:0px 40px; text-align:center; ">

    <h2>Thank you, tell us again. <div style="font-size:33%;">ありがとう、またおしえてください。</div></h2>

    <p>
        <div>You are in:</div>
        <div style="font-size:66%;">あなたがいるのは:</div>
        <form action="area" method="get">
            <select id="sel001" name="areaID" onchange="document.getElementById('s001').disabled=false;">
                <option value=""  >- 不明 -</option>
                <option value="1" >北海道</option>
                <option value="2" >青森県</option>
                <option value="3" >岩手県</option>
                <option value="4" >宮城県</option>
                <option value="5" >秋田県</option>
                <option value="6" >山形県</option>
                <option value="7" >福島県</option>
                <option value="8" >茨城県</option>
                <option value="9" >栃木県</option>
                <option value="10">群馬県</option>
                <option value="11">埼玉県</option>
                <option value="12">千葉県</option>
                <option value="13">東京都</option>
                <option value="14">神奈川県</option>
                <option value="15">新潟県</option>
                <option value="16">富山県</option>
                <option value="17">石川県</option>
                <option value="18">福井県</option>
                <option value="19">山梨県</option>
                <option value="20">長野県</option>
                <option value="21">岐阜県</option>
                <option value="22">静岡県</option>
                <option value="23">愛知県</option>
                <option value="24">三重県</option>
                <option value="25">滋賀県</option>
                <option value="26">京都府</option>
                <option value="27">大阪府</option>
                <option value="28">兵庫県</option>
                <option value="29">奈良県</option>
                <option value="30">和歌山県</option>
                <option value="31">鳥取県</option>
                <option value="32">島根県</option>
                <option value="33">岡山県</option>
                <option value="34">広島県</option>
                <option value="35">山口県</option>
                <option value="36">徳島県</option>
                <option value="37">香川県</option>
                <option value="38">愛媛県</option>
                <option value="39">高知県</option>
                <option value="40">福岡県</option>
                <option value="41">佐賀県</option>
                <option value="42">長崎県</option>
                <option value="43">熊本県</option>
                <option value="44">大分県</option>
                <option value="45">宮崎県</option>
                <option value="46">鹿児島県</option>
                <option value="47">沖縄県</option>
                <option value="100">[Not Japan]</option>
            </select>
            <input id="s001" type="submit" value="Apply / 適用" disabled="true">
        </form>
    </p>

    <p><a href="graph">
        <div><img src="images/graphicon.png" style="border:1px solid;"></div>
        <div>View graph</div>
        <div style="font-size:66%;">グラフをみる</div>
    </a></p>

    <p><small>
        © 2020 Harumaso. <a href="https://github.com/Harumaso500/Howareyou">view Source</a>
    </small></p>
  </body>
</html>
